<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Variables -->
    <property name="APP_NAME" value="${spring.application.name:-credit-service}"/>

    <!--Define que los logs se imprimen en la consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %-5level [%thread] %logger{36} - %msg | corrId=%X{corrId} | reqId=%X{reqId}%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <!-- Configuración raíz -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Ajustes de nivel de log por paquetes específicos -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.mongodb.driver" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>
    <logger name="com.nttdata.credit_service" level="DEBUG"/>

</configuration>
